<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HYIT——KG</title>

    <script type="text/javascript" src="../static/js/jquery.js"></script>

    <link rel="shortcut icon" href="../static/images/tp.jpg">

    <!-- Plugin styles -->
    <link type="text/css" rel="stylesheet" href="../static/vendors/bundle.css">

    <!-- App styles -->
    <link type="text/css" rel="stylesheet" href="../static/assets/css/app.min.css">
</head>

<body class="form-membership">


    <div class="form-wrapper">

        <!-- logo -->
        <div id="logo">
            <!--        <img class="logo" src="../../assets/media/image/logo.png" alt="image" height="80" >-->
            <h3>知识图谱数据修改</h3>
            <!--        <img class="logo-dark" src="../../assets/media/image/logo-dark.png" alt="image">-->
        </div>
        <!-- ./ logo -->

        <!-- form -->
        <form action="/login" method="post">
            <div class="form-group">
                <input name="username" type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="Password">
            </div>

            <button id="sub" class="btn btn-primary btn-block">登录</button>
        </form>
        <!-- ./ form -->

    </div>

    <!-- Plugin scripts -->
    <script src="../static/vendors/bundle.js"></script>

    <!-- App scripts -->
    <script src="../static/assets/js/app.min.js"></script>
</body>

</html>